.home{
  display:flex;
  height: calc(100vh - 5rem);
  justify-content: flex-end;
}
.home p{
  letter-spacing: 5px;
  word-spacing: 5px;
}
.home span{
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.home > div{
  padding: 5rem;
    width:40vw;
    height: 100%;
    justify-self: flex-end;
    background: #372C42;
    box-shadow: -5px 4px 10px rgba(0,0,0,0.3);
}